#!/usr/bin/make -f

DEB_PYTHON_SETUP_CMD := setup.py
DEB_PYTHON_COMPRESS_EXCLUDE := .pyc
DEB_STRIP_EXCLUDE := .pyc

%:
	dh $@ --with python3 --buildsystem=pybuild


override_dh_auto_install:
	dh_auto_install

override_dh_installinit:
	dh_installinit --noscript

binary-post-install/firewater::
	touch debian/firewater/etc/iptables.saved
	echo "# Add your rules here\n\n"  > debian/firewater/etc/firewater.rules
